<div class="panel panel-default">
  <div class="panel-body">
<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
    <%= f.label :code  %><br>
    <%= f.text_field :code ,:class =>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description,:class =>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :valid_from %><br>
    <%= f.date_field :valid_from,:class =>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :valid_until, "Valid until  (When will this coupon expire. By default, it does not expire.)" %><br>
    <%= f.date_field :valid_until,:class =>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :redemption_limit, "Coupons Limit  (Set how many times this coupon can be used. Zero means no limit.)" %><br>
    <%= f.number_field :redemption_limit,:class =>"form-control" %>
  </div> 
  <div class="form-group">
    <%= f.label :discount_type %><br>
    <%= f.select :discount_type, options_for_select([ ["Percentage",'percentage'],["Amount",'amount']],:selected => @coupon.discount_type),{},:class =>"form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :amount, "Amount  (This is the actual discount amount. 0-100 for percentage, zero or positive number for amount.)" %><br>
    <%= f.text_field :amount,:class =>"form-control" %>
  </div>  
  
 <div class="form-actions">
    <%= f.submit :class => "btn btn-success"%> <%= link_to 'Back', coupons_path ,:class => "btn btn-danger"%>
  </div>

<% end %>

  </div>
    </div>